

{# templates/form/custom_types.html.twig #}
{% block die_roll_row %}
<div class="form-group">
    <div class="die-roll-field">
        {{ form_label(form) }}
        {{ form_help(form) }}
        <table class="table">
            <tbody>
                <tr>
                    <th>Number of Die</th>
                </tr>
                <tr>
                    <td>
                        {{ form_widget(form.x) }}
                        {{ form_help(form.x) }}
                        {{ form_errors(form.x) }}
                    </td>
                </tr>
                <tr>
                    <th>Die Sides</th>
                </tr>
                <tr>

                    <td>
                        {{ form_widget(form.d) }}
                        {{ form_help(form.d) }}
                        {{ form_errors(form.d) }}
                    </td>
                </tr>
                <tr>
                    <th>Plus</th>
                </tr>
                <tr>

                    <td>
                        {{ form_widget(form.p) }}
                        {{ form_help(form.p) }}
                        {{ form_errors(form.p) }}
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
{% endblock %}


{% block clue_row %}
    <div class="clue-row">
        <div class="title">
            {{ form_label(form.clueName) }}
            {{ form_widget(form.clueName) }}
            {{ form_help(form.clueName) }}
            {{ form_errors(form.clueName) }}
        </div>

        <div class="body">
            {{ form_label(form.clueDescription) }}
            {{ form_widget(form.clueDescription) }}
            {{ form_help(form.clueDescription) }}
            {{ form_errors(form.clueDescription) }}
        </div>
        <div class="type">
            {{ form_label(form.clueType) }}
            {{ form_widget(form.clueType) }}
            {{ form_help(form.clueType) }}
            {{ form_errors(form.clueType) }}
        </div>
    </div>
{% endblock %}
