<h3>Active Games</h3>
<table class="table">
    <tr>
        <th>Name</th>
        <th>Games Master</th>
        <th></th>
    </tr>
    {% if user.getGames is not empty %}

    {% else %}
        <tr>
            <td colspan="3">No games found! If you've been invited to a game, enter your invitation code below to join.</td>
        </tr>
    {% endif %}
</table>
<hr>
{% if user.getGamesMastered is not empty %}
<h3>Games you run</h3>
    <table class="table">
        <tr>
            <th>Name</th>
            <th>Play Link</th>
            <th>Operations</th>
        </tr>
        {% for game in user.getGamesMastered %}
            <tr>
                <td>
                    {{ game.name }}
                </td>
                <td>
                    <a href="{{ path('app.games.play', {slug: game.slug}) }}">View</a>
                </td>
            </tr>
        {% endfor %}
    </table>
<hr />
{% endif %}

<h3>Join a new Game</h3>
<table class="table join-game">
    <thead>
        <tr>
            <th colspan="2">Join a game with an invitation code</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            {{ form_start(joinGameForm) }}
            <td>

                {{ form_row(joinGameForm.invitationCode) }}

            </td>
            <td>
                {{ form_row(joinGameForm.submit) }}
            </td>
            {{ form_end(joinGameForm) }}
        </tr>
    </tbody>
</table>
<hr>
<h3>Create a Game</h3>
<a class="btn" href="{{ path('app.games.create') }}">Create Game</a>
