{% extends 'base/base.html.twig' %}
{% block body %}
    <div class="row flush three-quarters-one-quarter hide-sm">
        <div class="col">
            <div class="rounded panel">
                {{ component(
                    'Slideshow',
                    {
                        'name':  'heroslide',
                        'slides' : [
                        {
                            'imgSrc': '/dist/images/hero.webp',
                            'imgAlt': 'A puzzled party of adventurers poring over a scroll',
                            'slideHeading': 'Welcome to the Conundrum Codex',
                            'slideBody': 'The Conundrum Codex is a community-driven site where Online Games-Masters can share interactive puzzles with their players.',
                            'cta': {
                            'route': 'app.auth.register',
                            'label': 'Get Started'
                        }
                        },
                        {
                            'imgSrc': '/dist/images/hero2.jpg',
                            'imgAlt': 'A happy adventurer looks out over a vista',
                            'slideHeading': 'Some other item',
                            'slideBody': 'The Conundrum Codex is a community-driven site where Online Games-Masters can share interactive puzzles with their players.',
                        }
                    ]
                    }
                ) }}
            </div>
        </div>
        <div class="col">
            <h2 class="centerline">Puzzle Templates</h2>
            <nav class="puzzle-categories lozenges grid">
                {%  for template in templates %}
                    <a href="{{ path('app.puzzles.template.show', {templateSlug: template.getSlug}) }}">{{ template.getTitle }}</a>
                {% endfor %}
            </nav>
        </div>
    </div>
    <div class="row flush bordered three-quarters-one-quarter">
        <div class="col">
            <p class="drop-cap">{{ siteName }} is designed to help online games-masters of tabletop RPGs set engaging interactive puzzles remotely.</p>
            <p>We're community driven, and offer many different types of puzzles that can be customised to meet the needs of your game and setting.</p>
        </div>
        <div class="col">
            <blockquote>
                <p>{{ quotation }}</p>
                <span class="cite">{{ citation }}</span>
            </blockquote>
        </div>

    </div>
{% endblock %}
