{% extends 'base/base.html.twig' %}
{% block body %}
    <div class="row title-row">
        <div class="col">
            <h2>Subjects</h2>
        </div>
    </div>


    {% if casebook.getCasebookSubjects is  empty %}
        <div class="row">
            <div class="col">
                <em>Your casebook doesn't have any subjects!</em>
            </div>
        </div>
    {% else %}
        <div class="row">
            <div class="grid">
                {% for subject in casebook.getCasebookSubjects %}
                    <article class="card">

                        {% if subject.getCasebookSubjectImage %}
                            <img class="card-backer" src="/uploads/images/{{ subject.getCasebookSubjectImage }}" alt="{{ subject.getName }}">
                        {% endif %}
                        <h2 class="card-title">{{ subject.getName }}</h2>
                        <div class="card-body">
                            {{ subject.getDescription }}
                        </div>
                        <span class="card-spacer"></span>
                        <div class="card-accordion-list accordion-list" is="accordion-list">
                            {% for clue in subject.getCasebookSubjectClues %}
                                <article class="accordion-entry" id="clue-{{ clue.getId }}" is="accordion-entry">
                                    <h3 class="accordion-heading {% if clue.getRevealedDate is not null %}accordion-success{% endif %}">Clue - {{ clue.getTitle }} - {{ clue.getRevealedDate ? 'Revealed' : 'Not Revealed' }}</h3>
                                    <div class="accordion-body">
                                        <div class="accordion-content">
                                            <strong>{{ clue.getType.getLabel }}:</strong>
                                            {{ clue.getBody }}
                                        </div>
                                        {% if clue.getRevealedDate is null %}
                                            <div class="accordion-footer">
                                                <nav class="secondary">
                                                    <a href="">Reveal this Clue</a>
                                                </nav>
                                            </div>
                                        {% endif %}
                                    </div>
                                </article>
                            {% endfor %}
                        </div>
                        <div class="card-footer">
                            <a href="" class="btn">Edit</a>
                        </div>
                    </article>
                {% endfor %}
            </div>
        </div>
    {% endif %}
    <div class="row">
        <div class="col">
            <a class="btn btn-cta" href="{{ path('app.puzzles.static.casebook.subjects.add', {
                'instanceCode': casebook.getSlug,
                'templateSlug': casebook.getTemplate.getSlug,
                'gameSlug': casebook.getGame.getSLug
            }) }}">
                Add a new Subject
            </a>
        </div>
    </div>

{% endblock %}
