{% extends 'base/base.html.twig' %}
{% block body %}
    <div class="row">
        <div class="grid">
            {% for template in templates %}
                <article class="card">
<!--                    <img class="card-backer" src="/dist/images/wavepool.gif">-->
                    <a href="{{ path('app.puzzles.template.show', {'templateSlug': template.getSlug }) }}"><h2 class="card-title">{{ template.getTitle }}</h2></a>
                    <div class="card-metadata">
                        <nav class="tag-list">
                            {% for category in template.categories %}
                                <a href="{{ path('app.puzzles.categorySlug.show', {'categorySlug' : category.getSlug }) }}">{{ category.getLabel }}</a>
                            {% endfor %}
                        </nav>

                    </div>
                    <div class="card-body">
                        <div class="credit">
                            <strong>By: </strong><a href="mailto:{{ template.authorEmail }}">{{ template.authorEmail }}</a>
                        </div>
                        {{ template.getDescription }}
                    </div>
                    <span class="card-spacer"></span>
                    <div class="card-footer">
                        <a href="{{ path('app.puzzles.template.add', {'templateSlug': template.getSlug}) }}" class="btn">Add to Game</a>
                    </div>
                </article>
            {% endfor %}
        </div>
    </div>
{% endblock %}
