{% extends 'base/base.html.twig' %}
{% block body %}
<div class="row three-quarters-one-quarter">
    <div class="col">
        <h2>Description</h2>
        {{ template.description }}


        {%if template.configuration is not empty%}
            <ul class="tabular-list">
                {% for configOption in template.configuration %}
                    <li>
                        <strong>
                            {{ configOption.getLabel }}
                        </strong>
                        <span>
                            {{ configOption.getHelpText }}
                        </span>
                    </li>
                {% endfor %}
            </ul>

        {% endif %}

        <div class="btn-container">
            <a href="{{ path('app.puzzles.template.add', {'templateSlug': template.getSlug}) }}" class="btn btn-secondary cta">Add to Game</a>
        </div>


    </div>
    <div class="col">

        <h2>Contributors</h2>
        <ul>
            {% for credit in template.getCredits %}
                {% if credit.email %}
                    <li>{{ credit.name }} - {{ credit.created }}</li>
                {% else %}
                    <li>{{ credit.name }} - {{ credit.created }}</li>
                {% endif %}
            {% endfor %}
        </ul>

    </div>

</div>
{% endblock %}
