{% extends 'base/base.html.twig' %}
{% block body %}
    {{ form_start(form) }}
    <div class="row">
        <div class="col">
                {{ form_row(form.confirm) }}
        </div>
        <div class="col">
            {{ form_row(form.confirm_again) }}
        </div>
    </div>
    <div class="row">
        <div class="col">
            {{ form_row(form.submit) }}
        </div>
    </div>
    {{ form_end(form) }}

{% endblock %}
