{% extends 'base/base.html.twig' %}
{% block body %}
    <div class="row bordered">
        <div class="col">
            <h2>Games I run</h2>

                {% if gamesMastered is not empty %}
                    <div class="accordion-list" is="accordion-list">
                        {% for gameMastered in gamesMastered %}
                            <article class="accordion-entry" id="game-{{ gameMastered.getSlug }}" is="accordion-entry">
                                <h3 class="accordion-heading">{{ gameMastered.getName }}</h3>
                                <div class="accordion-body">
                                    <div class="accordion-content accordion-columns">
                                        <span class="accordion-column">{{ gameMastered.getName }}</span>
                                        <nav class="secondary accordion-column">
                                            <a href="{{ path('app.games.manage', {'gameSlug': gameMastered.getSlug}) }}" class="btn">Manage</a>
                                        </nav>
                                    </div>
                                </div>

                            </article>
                        {% endfor %}
                    </div>
                {% else %}

                    <em>{{ 'You are not currently the Games Master for any games. Why not create one?'|trans }}</em>

                {% endif %}


            <a class="btn btn-secondary" href="{{ path('app.games.create') }}">Create a Game</a>
        </div>
        <div class="col">
            <h2>Games I'm Playing in</h2>

            {% if gamesMember is not empty %}
                <div class="accordion-list" is="accordion-list">
                    {% for game in gamesMember %}
                        <article class="accordion-entry" id="game-{{ game.getSlug }}" is="accordion-entry">
                            <h3 class="accordion-heading">{{ game.getName }}</h3>
                            <div class="accordion-body">
                                <div class="accordion-content">
                                    <ul class="tabular-list">
                                        <li>
                                            <span><strong>Game:</strong> {{ game.getName }}</span>
                                            <span><strong>Games Master: </strong>{{ game.getGamesMaster.getUserName }}</span>
                                            <a class="btn" href="{{ path('app.games.play', {
                                                'gameSlug': game.getSlug
                                            }) }}">Play Now!</a>
                                        </li>

                                    </ul>


                                </div>
                            </div>

                        </article>
                    {% endfor %}
                </div>

            {% else %}

                   <em>{{ 'You are not currently a player in any games.'|trans }}</em>

            {% endif %}

        </div>
    </div>
{% endblock %}
