{% extends 'base/base.html.twig' %}
{% block body %}
    <div class="row bordered">
        <div class="col">
            <h2>Games I run</h2>

                {% if gamesMastered is not empty %}
                    <nav class="secondary">
                    {% for gameMastered in gamesMastered %}
                         <a href="{{ path('app.games.manage', {'gameSlug': gameMastered.getSlug}) }}" class="">
                                {{ gameMastered.getName }}
                         </a>
                    {% endfor %}
                    </nav>
                {% else %}

                    <em>{{ 'You are not currently the Games Master for any games. Why not create one?'|trans }}</em>

                {% endif %}


            <a class="btn btn-secondary" href="{{ path('app.games.create') }}">Create a Game</a>
        </div>
        <div class="col">
            <h2>Games I'm Playing in</h2>

            {% if gamesMember is not empty %}
                <nav class="vertical">
                    {% for game in gamesMember %}
                        <a href="#">SOME GAME LINK</a>
                    {% endfor %}
                </nav>

            {% else %}

                   <em>{{ 'You are not currently a player in any games.'|trans }}</em>

            {% endif %}

        </div>
    </div>
{% endblock %}
