{% extends 'base/base.html.twig' %}
{% block body %}
    <div class="row">
        <div class="col">
            <h2>Basic Information</h2>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <dl>
                <dt>Name</dt>
                <dd>{{ game.name }}</dd>
            </dl>

        </div>
        <div class="col">
            <dl>
                <dt>Description</dt>
                <dd>{{ game.description }}</dd>
            </dl>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <a class="btn" href="{{ path('app.games.edit', {'gameSlug': game.getSlug}) }}">Edit this information</a>
        </div>
    </div>
    <hr class="row-divider">
    <div class="row">
        <section class="col">
            <h2>Players</h2>
        </section>
    </div>
    <div class="row equal-thirds">
        <div class="col">
            <article>
                <h3>Active Players</h3>
                {% for player in game.getPlayers %}
                    {% embed 'visitor/account/partials/_userCard.html.twig' with {'user': player} %}{% endembed %}
                {% endfor %}
            </article>
        </div>
        <div class="col">
            <article>
                <h3>Outstanding Invitations</h3>
                {% if invitations is empty %}
                    <em>No players have been invited to your game. Why not invite some?</em>
                {% else %}
                    <div class="accordion-list" is="accordion-list">
                        {% for invitation in invitations %}
                            <article class="accordion-entry" id="invitation-{{ invitation.id }}" is="accordion-entry" data-open="false">
                                <h3 class="accordion-heading">{{ invitation.email }}</h3>
                                <div class="accordion-body">
                                    <div class="accordion-content">
                                        <dl>
                                            <dt>Email</dt>
                                            <dd>{{ invitation.email }}</dd>
                                            <dt>Invitation Code</dt>
                                            <dd>{{ invitation.invitationCode }}</dd>
                                            <dt>Expires at</dt>
                                            <dd>{{ invitation.expiresAt.format('Y-m-d H:i:s') }}</dd>
                                        </dl>
                                        <nav class="secondary">
                                            <a href="{{ path('app.games.invite.revoke', {'gameSlug': game.getSlug, 'invitationCode': invitation.invitationCode}) }}" class="btn btn-danger">Revoke</a>
                                        </nav>
                                    </div>

                                </div>
                            </article>
                        {% endfor  %}
                    </div>


                {% endif %}
            </article>
            <a href="{{ path('app.games.invite', {'gameSlug': game.getSlug}) }}" class="btn btn-blue">Invite Players</a>
        </div>
    </div>
    <hr class="row-divider">
    <div class="row">
        <div class="col">
            <article>
                <h2>Puzzles</h2>
                {% if game.getPuzzleInstances is not empty %}
                    <div class="accordion-list" is="accordion-list">
                        {% for puzzleInstance in game.getPuzzleInstances %}
                            <article class="accordion-entry" id="instance-{{ puzzleInstance.getInstanceCode }}" is="accordion-entry">
                                <h3 class="accordion-heading">{{ puzzleInstance.getName }} - {{ puzzleInstance.isPublished ? 'Published' : 'Unpublished' }}</h3>
                                <div class="accordion-body">
                                    <div class="accordion-content accordion-columns">
                                        <div class="accordion-column">
                                            {{ puzzleInstance.getDescription }}
                                        </div>
                                        <dl class="accordion-column">
                                            <dt>Type:</dt>
                                            <dd>{{ puzzleInstance.getTemplate.getTitle }}</dd>
                                            <dt>Publication Date:</dt>
                                            <dd>{{ puzzleInstance.publicationDate is not null ? puzzleInstance.getPublicationDate.format('Y-m-d H:i') : 'Not set' }}</dd>
                                        </dl>

                                        <nav class="secondary accordion-column">
                                            <div class="btn-group">
                                                <a class="btn btn-primary" href="{{ path('app.games.puzzles.instance.manage', {'gameSlug': game.getSlug, 'templateSlug': puzzleInstance.getTemplate.getSlug, 'instanceCode': puzzleInstance.getInstanceCode }) }}">Edit puzzle</a>
                                                <a class="btn" href="{{ path('app.games.puzzles.instance.play', {'gameSlug': game.getSlug, 'templateSlug': puzzleInstance.getTemplate.getSlug, 'instanceCode': puzzleInstance.getInstanceCode }) }}">View as Player</a>
                                                {% if puzzleInstance.getPublicationDate is null %}
                                                    <a class="btn btn-primary" href="{{ path('app.games.puzzles.instance.publish', {'gameSlug': game.getSlug, 'templateSlug': puzzleInstance.getTemplate.getSlug, 'instanceCode': puzzleInstance.getInstanceCode }) }}">Publish puzzle</a>
                                                {% endif %}
                                            </div>

                                        </nav>
                                    </div>
                                </div>
                            </article>
                        {% endfor %}
                    </div>
                {% else %}
                    <em>You have no puzzles in your game.</em>
                {% endif %}
            </article>
            <article>
                <div class="btn-group">
                    <a href="" class="btn btn-primary">Add a Puzzle</a>
                    <a href="{{ path('app.games.delete', {'gameSlug': game.getSlug}) }}" class="btn btn-danger">Delete this Game</a>
                    <a href="{{ path('app.games.play', {'gameSlug': game.getSlug}) }}" class="btn btn-secondary">View this Game as a Player</a>
                </div>


            </article>
        </div>
    </div>

{% endblock %}
