{% extends 'base/base.html.twig' %}
{% block body %}
    <div class="row">
        <div class="col">
            <h2>Players</h2>
            <article>
                <h3>Active Players</h3>
                <div class="accordion" is="accordion-list">
                    {% if game.getPlayers is not empty %}
                        {% for player in game.getPlayers %}
                            {{ player.getUserName }}
                        {% endfor %}
                    {% else %}
                        <div class="accordion-empty-message">
                            There are no players in your game!
                        </div>
                    {% endif %}
                </div>
                <hr class="subtle"/>
            </article>
        </div>
        <div class="col">
            <article>
                <h3>Outstanding Invitations</h3>
                {% if invitations is empty %}
                    <em>No players have been invited to your game. Why not invite some?</em>
                {% else %}
                    <div class="accordion-list" is="accordion-list">
                        {% for invitation in invitations %}
                            <article class="accordion-entry" id="invitation-{{ invitation.id }}" is="accordion-entry" data-open="false">
                                <h3 class="accordion-heading">{{ invitation.email }}</h3>
                                <div class="accordion-body">
                                    <div class="accordion-content">
                                        <dl>
                                            <dt>Email</dt>
                                            <dd>{{ invitation.email }}</dd>
                                            <dt>Invitation Code</dt>
                                            <dd>{{ invitation.invitationCode }}</dd>
                                            <dt>Expires at</dt>
                                            <dd>{{ invitation.expiresAt.format('Y-m-d H:i:s') }}</dd>
                                        </dl>
                                        <nav class="secondary">
                                            <a href="{{ path('app.games.invite.revoke', {'gameSlug': game.getSlug, 'invitationCode': invitation.invitationCode}) }}" class="btn btn-danger">Revoke</a>
                                        </nav>
                                    </div>

                                </div>
                            </article>
                        {% endfor  %}
                    </div>


                {% endif %}
            </article>

            <hr class="subtle"/>
            <a href="{{ path('app.games.invite', {'gameSlug': game.getSlug}) }}" class="btn btn-blue">Invite Players</a>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <article>
                <h2>Puzzles</h2>
                {% if game.getPuzzleInstances is not empty %}
                    <div class="accordion-list" is="accordion-list">
                        {% for puzzleInstance in game.getPuzzleInstances %}
                            <article class="accordion-entry" id="instance-{{ puzzleInstance.getInstanceCode }}" is="accordion-entry">
                                <h3 class="accordion-heading">{{ puzzleInstance.getName }} - {{ puzzleInstance.isPublished ? 'Published' : 'Unpublished' }}</h3>
                                <div class="accordion-body">
                                    <div class="accordion-content">
                                        <dl>
                                            <dt>Type:</dt>
                                            <dd>{{ puzzleInstance.getTemplate.getTitle }}</dd>
                                            <dt>Publication Date:</dt>
                                            <dd>{{ puzzleInstance.publicationDate is not null ? puzzleInstance.getPublicationDate.format('Y-m-d H:i') : 'Not set' }}</dd>
                                        </dl>

                                        {{ puzzleInstance.getDescription }}
                                    </div>

                                    <div class="accordion-footer">
                                        <nav class="secondary">
                                            <a class="btn" href="{{ path('app.games.puzzles.instance.manage', {'gameSlug': game.getSlug, 'templateSlug': puzzleInstance.getTemplate.getSlug, 'instanceCode': puzzleInstance.getInstanceCode }) }}">Edit puzzle</a>
                                            <a class="btn btn-primary" href="{{ path('app.games.puzzles.instance.manage', {'gameSlug': game.getSlug, 'templateSlug': puzzleInstance.getTemplate.getSlug, 'instanceCode': puzzleInstance.getInstanceCode }) }}">Publish puzzle</a>
                                        </nav>
                                    </div>
                                </div>

                            </article>
                        {% endfor %}
                    </div>
                {% else %}
                    <em>You have no puzzles in your game.</em>
                {% endif %}
            </article>
            <article>
                <a href="" class="btn btn-primary">Add a Puzzle</a>
                <a href="{{ path('app.games.delete', {'gameSlug': game.getSlug}) }}" class="btn btn-danger">Delete this Game</a>
            </article>
        </div>
    </div>

{% endblock %}
