{% extends 'base/base.html.twig' %}
{% block body %}
    <div class="row three-quarters-one-quarter">
        <div class="col">
            <h2>Description</h2>
            {{ game.getDescription }}
            <hr class="subtle">
            <h2>Puzzles</h2>
            {% if game.getPublishedPuzzleInstances is not empty %}
                <div class="accordion-list" is="accordion-list">
                    {% for puzzleInstance in game.getPublishedPuzzleInstances %}
                        <article class="accordion-entry" id="instance-{{ puzzleInstance.getInstanceCode }}" is="accordion-entry">
                            <h3 class="accordion-heading">{{ puzzleInstance.getTemplate.getTitle }} - {{ puzzleInstance.getName }}</h3>
                            <div class="accordion-body">
                                <div class="accordion-content">
                                    <dl>
                                        <dt>Publication Date:</dt>
                                        <dd>{{ puzzleInstance.publicationDate is not null ? puzzleInstance.getPublicationDate.format('Y-m-d H:i') : 'Not set' }}</dd>
                                    </dl>

                                    {{ puzzleInstance.getDescription }}
                                </div>

                                <div class="accordion-footer">
                                    <nav class="secondary">
                                        <a class="btn" href="{{ path('app.games.puzzles.instance.play', {'gameSlug': game.getSlug, 'templateSlug': puzzleInstance.getTemplate.getSlug, 'instanceCode': puzzleInstance.getInstanceCode }) }}">Play</a>
                                    </nav>
                                </div>
                            </div>

                        </article>
                    {% endfor %}
                </div>

            {% else %}
                <p><em>This game doesn't have any published puzzles yet.</em></p>
                <p>Your Games Master is probably scheming.</p>
            {% endif %}
        </div>
        <div class="col">
            <h2>Games Master</h2>
            {% embed 'visitor/account/partials/_userCard.html.twig' with {'user': game.getGamesMaster} %}{% endembed %}
            <hr class="subtle">
            <h2>Other Players</h2>
            {% for player in game.getPlayers %}
                {% embed 'visitor/account/partials/_userCard.html.twig' with {'user': player} %}{% endembed %}
            {% endfor %}
        </div>
    </div>


{% endblock %}
