{% extends '/admin/base/admin-base.html.twig' %}
{% block body %}
    {{ form_start(form) }}
    <div class="row three-quarters-one-quarter">
        <div class="col panel">
            <h2 class="panel-heading">
                Basic Details
            </h2>
            <div class="avatar-wrapper">
                <img class="avatar" src="{{ user.avatarUrl ?? '/dist/images/default-avatar.webp' }}" alt="Your Avatar">
            </div>

            {{ form_row(form.avatar) }}
            {{ form_row(form.email) }}
            {{ form_row(form.username) }}
            {{ form_row(form.plainPassword) }}
        </div>
        <div class="col panel">
            <h2 class="panel-heading">
                Roles
            </h2>
            {{ form_row(form.roles) }}
            <hr/>
            <h2 class="panel-heading">
                Account Type
            </h2>
            {{ form_row(form.userAccountType) }}
        </div>
    </div>
    <div class="row">
        <div class="col panel">
            <h2 class="panel-heading">
                Preferences
            </h2>
            {{ form_row(form.acceptedCookies) }}
            {{ form_row(form.profilePublic) }}
        </div>
    </div>
    <div class="row">
        <div class="col panel">
            <h2 class="panel-heading">
                Feats
            </h2>
            {{ form_row(form.feats) }}

        </div>
    </div>
    {{ form_end(form) }}

{% endblock %}
