{% extends '/admin/base/admin-base.html.twig' %}
{% block body %}
    <div class="row">
        <div class="col">
            {{ form(form) }}
        </div>
    </div>
    <div class="row">
        <div class="col panel">
            <nav class="secondary"><span class="active">Users</span><a href="{{ path('admin.users.roles') }}">Roles</a></nav>
            <table class="table">
                <thead>
                    <tr>
                        <th>E-Mail</th>
                        <th>Name</th>
                        <th>Roles</th>
                        <th>Blocked?</th>
                        <th>Joined</th>
                        <th>Operations</th>
                    </tr>
                </thead>
                <tbody>
                    {% for user in users %}
                        <tr>
                            <td>
                                {{ user.email }}
                            </td>
                            <td>
                                {{ user.userName }}
                            </td>
                            <td>
                                <ul>
                                    {% for role in user.getRoles %}
                                        <li>{{ role }}</li>
                                    {% endfor %}
                                </ul>
                            </td>
                            <td>
                                {% if user.getUserBlock is null %}
                                    <em>Not blocked.</em>
                                {% else %}
                                    <strong>Blocked for {{ user.getUserBlock.getReason }}</strong><br/>
                                    <em>Block expires {{ user.getUserBlock.isPermanent ? 'never' : user.getUserBlock.getExpirationDate.format('Y-m-d H:i:s') }}</em>

                                {% endif %}
                            </td>
                            <td>
                                {{ user.getCreatedAt.format('Y-m-d H:i:s') }}
                            </td>
                            <td>
                                {% if user != app.user %}
                                    <nav class="secondary">

                                        <a href="{{ path('admin.users.edit', {'id': user.getId}) }}">Edit</a>
                                        {% if user.getUserBlock is null %}
                                            <a href="{{ path('admin.users.block', {'id': user.getId}) }}">Block</a>
                                        {% else %}
                                            <a href="{{ path('admin.users.unblock', {'id': user.getId}) }}">Unblock</a>
                                        {% endif %}

                                    </nav>
                                {% else %}
                                    <em>Please use the <a href="{{ path('app.user.account') }}">Account</a> page to edit your own account.</em>
                                {% endif %}

                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
            {% if pager is not empty %}
                <nav class="pagination">
                    {% if pager.back is defined %}
                        <a href="{{ path('admin.users.manage', {
                        'page': pager.back,
                        'resultsPerPage': resultsPerPage
                    }) }}"><<</a>
                    {% endif %}
                    {% for pagerPage in pager.pages %}
                        <a href="{{ path('admin.users.manage', {
                            'page': pagerPage,
                            'resultsPerPage': resultsPerPage
                        }) }}" {% if currentPage == pagerPage %}class="active"{% endif %} >{{ pagerPage }}</a>
                    {% endfor %}
                    {% if pager.next is defined %}
                        <a href="{{ path('admin.users.manage', {
                            'page': pager.next,
                            'resultsPerPage': resultsPerPage
                        }) }}">>></a>
                    {% endif %}
                </nav>
            {% endif %}
        </div>
    </div>

{% endblock %}
