{% extends '/admin/base/admin-base.html.twig' %}
{% block body %}
    <div class="row">
        <div class="col">
            <h1>{{ pageTitle }}</h1>

        </div>
    </div>
    {{ form_start(form) }}
    <div class="row">
        <div class="col">
            {{ form_row(form.name) }}
        </div>
        <div class="col">
            {{ form_row(form.permissions) }}
        </div>
    </div>
    {{ form_end(form) }}

{% endblock %}
