{% extends 'base/base.html.twig' %}
{% block body %}
    <div class="row title-row">
        <div class="col">
            <h1 is="drop-cap" content="{{ pageTitle }}">{{ pageTitle }}</h1>
        </div>
    </div>
    <div class="row halves">
        <div class="col">
            <table class="table">
                <thead>
                    <tr>
                        <th>Puzzle Name</th>
                        <th>Description</th>
                        <th>Create Instance</th>
                    </tr>
                </thead>
                <tbody>
                {% for puzzle in puzzles %}
                    {% if puzzle.active %}
                        <tr>
                            <td>{{ puzzle.label }}</td>
                            <td>{{ puzzle.description }}</td>
                            <td><a class="btn btn-red" href="{{ path(puzzle.route) }}">Go</a></td>
                        </tr>
                    {% endif %}
                {% endfor %}
                </tbody>
            </table>
            <ul>

            </ul>
        </div>

    </div>
{% endblock %}
