<button id="user-nav-toggle" is="nav-toggle" class="nav-toggle user-nav-toggle unstyle" data-target="user-nav" data-open="false">Show User Nav</button>
<nav class="mobile-nav" id="user-nav">
    {% if app.user %}
        <span class="user-greeting">Logged in as <a href="{{ path('app.user.account') }}">{{ app.user.userName }}</a></span>
        <ul class="user-menu" aria-label="User Account Navigation">
            {% if is_granted('admin_dash') %}
                <li>
                    <a class="" href="{{ path('admin.dashboard') }}">Admin Dashboard</a>
                </li>
            {% endif %}
            <li>
                <a class="" href="{{ path('app.user.account') }}">Account</a>
            </li>
            <li>
                <a class="" href="{{ path('app.games.index') }}">My Games</a>
            </li>
            <li>
                <a class="" href="{{ path('app.auth.logout') }}">Logout</a>
            </li>
        </ul>
    {% else %}
        <span class="user-greeting">Not logged in</span>
        <ul class="user-menu" aria-label="User Account Navigation">
            <li>
                <a class="" href="{{ path('app.auth.login') }}">Login</a>
            </li>
            <li>
                <a class="" href="{{ path('app.auth.register') }}">Register</a>
            </li>
        </ul>
    {% endif %}
</nav>
