{% extends 'base/base.html.twig' %}
{% block body %}
    {{ form_start(form) }}
    <div class="row">


        <div class="col">
            {{ form_row(form.emailOne) }}
            {{ form_row(form.emailTwo) }}
            {{ form_row(form.emailThree) }}
        </div>
        <div class="col">
            {{ form_row(form.invitationText) }}
            {{ form_row(form.invitationCode) }}

        </div>

    </div>
    <div class="row">
        <div class="col">
            {{ form_row(form.submit) }}
        </div>
    </div>
    {{ form_end(form) }}

{% endblock %}
