{% extends 'base/base.html.twig' %}
{% block body %}
    <div class="row flush">
        <div class="col">
            <h2>My Details</h2>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <strong>Name</strong>
            {{ user.userName }}
        </div>
        <div class="col">
            <strong>Email</strong>
            {{ user.userName }}
        </div>
        <div class="col">
            <nav class="secondary">
                <a href="{{ path('app.user.account.edit') }}">Change these details</a>
                <a href="{{ path('app.user.account.change-password') }}">Change Password</a>
                <a href="{{ path('app.auth.logout') }}">Logout</a>
            </nav>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <h2>My Invitations</h2>

            {% if invitations is not empty %}
                <div class="accordion-list" is="accordion-list">
                    {% for invitation in invitations %}
                        <article class="accordion-entry" id="invitation-{{ invitation.id }}" is="accordion-entry" data-open="false">
                            <h3 class="accordion-heading">Invitation from: {{ invitation.getGame.getGamesMaster.getUsername }}</h3>
                            <div class="accordion-body">
                                <div class="accordion-content">
                                    <dl class="invitation-header">
                                        <dt>Game:</dt>
                                        <dd>{{ invitation.getGame.getName }}</dd>
                                        <dt>From:</dt>
                                        <dd>{{ invitation.getGame.getGamesMaster.getEmail }}</dd>
                                        <dt>Received:</dt>
                                        <dd>
                                            {{ invitation.getCreatedAt.format('Y-m-d H:i') }}
                                        </dd>
                                        <dt>Message:</dt>
                                        <dd>{{ invitation.getInvitationMessage }}</dd>
                                        <dt>This invitation will expire at:</dt>
                                        <dd>{{ invitation.getExpiresAt.format('Y-m-d H:i') }}</dd>
                                    </dl>
                                </div>

                                <div class="accordion-footer">
                                    <nav class="secondary">
                                        <a href="">Accept</a>
                                        <a href="{{ path('app.games.invite.decline', {'invitationCode': invitation.getInvitationCode}) }}">Decline</a>
                                    </nav>
                                </div>
                            </div>


                        </article>
                    {% endfor %}
                </div>
            {% else %}
                <em>You have no outstanding invitations.</em>
            {% endif %}
        </div>
    </div>


{% endblock %}
