{% extends 'base/base.html.twig' %}
{% block body %}
    <div class="row">

        <div class="col">

            <div class="avatar-wrapper">
                <img class="avatar" src="{{ user.avatarUrl ?? '/dist/images/default-avatar.webp' }}" alt="Your Avatar">
            </div>
        </div>

        <div class="col">
            <strong>Name</strong>
            {{ user.userName }}
            <strong>Profile Visibility</strong>
            <span class="badge badge-{{ user.isProfilePublic  ? 'info' : 'success' }}">{{ user.isProfilePublic  ? 'Public' : 'Private' }}</span>
        </div>
        <div class="col">
            <strong>Email</strong>
            {{ user.email }}
        </div>
        <div class="col">
            <nav class="secondary">
                <a href="{{ path('app.user.account.edit') }}">Change these details</a>
                <a href="{{ path('app.user.account.change-password') }}">Change Password</a>
                <a href="{{ path('app.auth.logout') }}">Logout</a>
            </nav>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col">
            <h2>My Feats</h2>
            {% if user.getFeats is empty %}
                <em>You've yet to earn any Feats. Feats can be awarded by Games Masters, or earned through various actions around the site.</em>
            {% else %}
                <div class="feats grid">
                    {% for feat in user.getFeats %}
                        {% embed 'visitor/account/partials/_feat.view.html.twig' with {'feat': feat} %}{% endembed %}
                    {% endfor %}
                </div>
            {% endif %}
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col">
            <h2>My Invitations</h2>

            {% if invitations is not empty %}
                <div class="accordion-list" is="accordion-list">
                    {% for invitation in invitations %}
                        <article class="accordion-entry" id="invitation-{{ invitation.id }}" is="accordion-entry">
                            <h3 class="accordion-heading">Invitation from: {{ invitation.getGame.getGamesMaster.getUsername }}</h3>
                            <div class="accordion-body">
                                <div class="accordion-content">
                                    <dl class="invitation-header">
                                        <dt>Game:</dt>
                                        <dd>{{ invitation.getGame.getName }}</dd>
                                        <dt>From:</dt>
                                        <dd>{{ invitation.getGame.getGamesMaster.getEmail }}</dd>
                                        <dt>Received:</dt>
                                        <dd>
                                            {{ invitation.getCreatedAt.format('Y-m-d H:i') }}
                                        </dd>
                                        <dt>Message:</dt>
                                        <dd>{{ invitation.getInvitationMessage }}</dd>
                                        <dt>This invitation will expire at:</dt>
                                        <dd>{{ invitation.getExpiresAt.format('Y-m-d H:i') }}</dd>
                                    </dl>
                                </div>

                                <div class="accordion-footer">
                                    <nav class="secondary">
                                        <a href="{{ path('app.games.invite.accept', {'invitationCode': invitation.getInvitationCode}) }}">Accept</a>
                                        <a href="{{ path('app.games.invite.decline', {'invitationCode': invitation.getInvitationCode}) }}">Decline</a>
                                    </nav>
                                </div>
                            </div>


                        </article>
                    {% endfor %}
                </div>
            {% else %}
                <em>You have no outstanding invitations.</em>
            {% endif %}
        </div>
    </div>


{% endblock %}
