<div class="logo-wrapper">
    <a class="header-logo" href="/">
        <span class="logo-text" content="{{ siteName }}">{{ siteName }}</span>
    </a>
</div>

<header is="header-element">

    <button id="main-nav-toggle" is="nav-toggle" class="nav-toggle main-nav-toggle unstyle" data-target="main-nav" data-open="false">Show Main Nav</button>
    <a href="/" class="brand" content="{{ siteName }}">{{ siteName }}</a>


    <nav class="mobile-nav" id="main-nav">
        <form class="search-form unstyle">
            <input name="search" placeholder="Search" id="search">
            <button class="unstyle" type="submit">Search</button>
        </form>
        <ul class="main-menu" aria-label="Main navigation">
            {% for navItem in nav %}
                <li><a content="{{ navItem.label }}" class="nav-item {% if navItem.active %} active{% endif %}" href="{{ path(navItem.route) }}">{{ navItem.label }}</a></li>
            {% endfor %}
        </ul>


    </nav>

    <button id="user-nav-toggle" is="nav-toggle" class="nav-toggle user-nav-toggle unstyle" data-target="user-nav" data-open="false">Show User Nav</button>
    <nav class="mobile-nav" id="user-nav">
        {% if app.user %}
            <span class="user-greeting">Logged in as <a href="{{ path('app.user.account') }}">{{ app.user.userName }}</a></span>
            <ul class="user-menu" aria-label="User Account Navigation">
                <li>
                    <a class="" href="{{ path('app.auth.logout') }}">Logout</a>
                </li>
                <li>
                    <a class="" href="{{ path('app.user.account') }}">Account</a>
                </li>
            </ul>
        {% else %}
            <span class="user-greeting">Not logged in</span>
            <ul class="user-menu" aria-label="User Account Navigation">
                <li>
                    <a class="" href="{{ path('app.auth.login') }}">Login</a>
                </li>
                <li>
                    <a class="" href="{{ path('app.auth.register') }}">Register</a>
                </li>
            </ul>

    </span>
        {% endif %}
    </nav>
</header>

