
    <header>

        <button id="main-nav-toggle" is="nav-toggle" class="nav-toggle main-nav-toggle" data-target="main-nav" data-open="false">Show Main Nav</button>
        <a href="/" class="brand" content="{{ siteName }}">{{ siteName }}</a>


        <nav class="mobile-nav" id="main-nav">
            <form class="search-form">
                <input name="search" placeholder="Search" id="search">
                <button class="" type="submit">Search</button>
            </form>
            <ul class="main-menu" aria-label="Main navigation">
                {% for navItem in nav %}
                    <li><a content="{{ navItem.label }}" class="nav-item {% if navItem.active %} active{% endif %}" href="{{ path(navItem.route) }}">{{ navItem.label }}</a></li>
                {% endfor %}
            </ul>


        </nav>

        <button id="user-nav-toggle" is="nav-toggle" class="nav-toggle user-nav-toggle" data-target="user-nav" data-open="false">Show User Nav</button>
        <nav class="mobile-nav" id="user-nav">
            {% if app.user %}
                <span class="user-greeting">Logged in as <a href="{{ path('app.user.account') }}">{{ app.user.userName }}</a></span>
                <span class="user-options">
            <a class="" href="{{ path('app.auth.logout') }}">Logout</a>
            <a class="" href="{{ path('app.user.account') }}">Account</a>
        </span>
            {% else %}
                <span class="user-greeting">Not logged in</span>
                <span class="user-options">
            <a class="" href="{{ path('app.auth.login') }}">Login</a>
            <a class="" href="{{ path('app.auth.register') }}">Register</a>
        </span>
            {% endif %}
        </nav>
    </header>

