<nav class="secondary">
    {% for letter,label in generate_alphabet() %}
        {% if casebook.getSubjectsByTypeHandleAndInitial(subjectType, letter) is not empty %}
            <a href="#{{ subjectType }}_{{ letter }}">{{ label }}</a>

        {% else %}
            <span class="emptyLetter">{{ label }}</span>
        {% endif %}
    {% endfor %}
</nav>
{% if casebook.getSubjectsByTypeHandle(subjectType) is  empty %}
    No items of this type have been revealed
{% else %}
    {% for letter,label in generate_alphabet() %}
        {% if casebook.getSubjectsByTypeHandleAndInitial(subjectType, letter) is not empty %}
            <h2 id="{{ subjectType }}_{{ letter }}">{{ label }}</h2>
            {% for subject in casebook.getSubjectsByTypeHandleAndInitial(subjectType, letter) %}
                {% embed 'visitor/puzzleInstances/casebook/subjects/partials/_subject.view.html.twig' with {'subject': subject} %}{% endembed %}
            {% endfor %}
        {% endif %}
    {% endfor %}
{% endif %}
