{% extends 'base/base.html.twig' %}
{% block body %}
    {{ form_start(form) }}
    <div class="row no-margin">
        <div class="col">
            <h2>Basic information</h2>
        </div>
    </div>
    <div class="row equal-thirds">
        <div class="col">
            {% if subject.getCasebookSubjectImage %}
                <img style="width: 100%;" src="{{ subject.getCasebookSubjectImage }}" alt="{{ subject.getName }}" class="portrait">
            {% endif %}
            {{ form_row(form.image) }}
            {{ form_row(form.revealed) }}
        </div>
        <div class="col">
            {{ form_row(form.name) }}
            {{ form_row(form.type) }}
        </div>
        <div class="col">

            {{ form_row(form.description) }}
        </div>
    </div>
    <div class="row">
        <div class="col">

            {{ form_row(form.clues) }}
        </div>
    </div>
    {{ form_end(form) }}
{% endblock %}
