<h1>You've been invited to join a game on conundrumcodex.com</h1>
<p>Hi there!</p>
<p>{{ invitation.getGame.getGamesMaster.getUserName }} has invited you to join a game on the Conundrum Codex, an online site for interactive TTRPG puzzles</p>
<p>To accept this invitation, please visit <a href="{{ registrationLink }}">{{ registrationLink }}</a></p>
<p>To decline this invitation, and optionally report it as a nuisance, please visit <a href="{{ declineLink }}">{{ declineLink }}</a></p>
<p>Happy playing!</p>
<p>The Conundrum Codex Team</p>
